@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Medium.eot');
  src: url('../fonts/Asap-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Medium.woff2') format('woff2'),
  url('../fonts/Asap-Medium.woff') format('woff'),
  url('../fonts/Asap-Medium.ttf') format('truetype'),
  url('../fonts/Asap-Medium.svg#Asap-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Regular.woff2') format('woff2'),
  url('../fonts/Asap-Regular.woff') format('woff'),
  url('../fonts/Asap-Regular.ttf') format('truetype'),
  url('../fonts/Asap-Regular.svg#Asap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Bold.woff2') format('woff2'),
  url('../fonts/Asap-Bold.woff') format('woff'),
  url('../fonts/Asap-Bold.ttf') format('truetype'),
  url('../fonts/Asap-Bold.svg#Asap-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  font-size: inherit;
}

header{
  background-image: url(../images/bg_element.png);
  background-repeat: repeat-x;
}
.navbar-default{
  box-shadow: none;
  border: none;
  margin-bottom: 15px;
  background: none;
}
.navbar-default .navbar-nav > li > a{
  padding: 8px 0;
  margin: 24px 19px;
  font-size: 15px;
  font-family: 'Asap', normal;
  font-weight: normal;
  color: #4d4d4d;
  border-bottom: solid 1px transparent;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li{
  &:hover{
    a{
      color: #4d4d4d;
      border-bottom: solid 1px #4d4d4d;
    }
  }
}
.navbar-brand > img{
  margin: 25px 0;
}
.luis{
  h2{
    margin-top: 168px;
    font-size: 90px;
    color: #4d4d4d;
    font-family: 'Asap', normal;
    font-weight: 500;
  }
  span{
    font-size: 22px;
    color: #9b9b9b;
    font-family: 'Asap', normal;
    font-weight: 500;
    margin-bottom: 30px;
  }
  div{

    a{
      margin-right: 20px;
      margin-top: 30px;
      margin-bottom: 300px;
    }
  }
}
.btn.btn-default{
  background-color: transparent;
  background-image: none;
  border: #4d4d4d solid 1px;
  border-radius: 0;
  color: #4d4d4d;
  font-size: 16px;
  padding: 15px 45px;
  font-family: 'Asap', normal;
  font-weight: 500;
  margin-top: 30px;

  &:hover{
    background-color: white;
    box-shadow: #9b9b9b 0 0 10px;
    border: none;
  }
}
.about{
  margin-top: 178px;
  margin-bottom: 175px;
  h4{
    color: #7c7c7c;
    font-size: 46px;
    position: relative;
    font-family: 'Asap', normal;
    font-weight: bold;
  }
  a{
    margin-bottom: 35px;
    margin-right: 100px;
    color: #7c7c7c;
    font-size: 16px;
    font-family: 'Asap', normal;
    font-weight: normal;
  }
}
.about h4:before{
  content: '';
  border-bottom: #7c7c7c solid 5px;
  width: 65px;
  display: block;
  position: absolute;
  bottom: 120px;
}
.img_cv{
  margin-top: 110px;
  margin-bottom: 125px;
}
.serv{
  background-color: #f6f6f6;
  padding-bottom: 24px;
  img{
    margin-bottom: 20px;
  }
}
.serv, .skills, .portfolio, .carousel{
  h4 {
    color: #7c7c7c;
    font-size: 46px;
    margin-top: 140px;
    margin-bottom: 60px;
    position: relative;
    font-family: 'Asap', normal;
    font-weight: bold;
  }
  h4:before {
    content: '';
    border-bottom: #7c7c7c solid 5px;
    width: 65px;
    display: block;
    position: absolute;
    bottom: 70px;
    left: 47%;
  }
}
.serv{
  padding-bottom: 60px;
  h5{
    padding-bottom: 80px;
    font-size: 24px;
    color: #4d4d4d;
    font-family: 'Asap', normal;
    font-weight: 500;
  }
}
.skills{
  img{
    margin-bottom: 125px;
  }
}
.portfolio{
  background-color: #f6f6f6;
  padding-bottom: 123px;
  img{
    margin-bottom: 30px;
  }
  img:hover{
    box-shadow: #9b9b9b 0 0 25px;
  }
  a{
    position: relative;
    right: 15%;
  }
}
.carousel {
  .container {
    max-width: 955px;
    margin: auto;
    .block {
      border: black solid 1px;
      padding: 82px 50px 80px 102px;
      img {
        max-width: 159px;
      }
    }
  }
}
.carousel.container.block .review{
    display: inline-block;
  h5 {
      color: #212121;
      text-transform: uppercase;
      font-size: 30px;
  }
  span {
      color: #212121;
      text-transform: uppercase;
      font-size: 12px;
  }
  p {
      color: #949494;
      text-transform: uppercase;
      font-size: 16px;
  }
}

.owl-dots .owl-dot span{
  display: inline-block;
  width: 11px;
  height: 11px;
  border: black solid 1px;
  margin: 0 5px 37px;
}
.owl-dots{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 30px;

}
.owl-dots .owl-dot.active span{
  background-color: black;
  width: 11px;
  height: 11px;
  position: relative;
}
.records{
  background-color: #f6f6f6;
  padding-bottom: 62px;
  padding-top: 52px;
  margin-bottom: 155px;
  h5{
    margin-top: 30px;
    color: #2e2d2d;
    font-size: 30px;
    font-family: 'Asap', normal;
    font-weight: 500;
  }
  span{
    color: #2e2d2d;
    font-size: 22px;
    font-family: 'Asap', normal;
    font-weight: normal;
    text-transform: uppercase;
  }
}
footer{
  background-image: url(../images/contact_bg.png);
  background-repeat: no-repeat;
  h3{
    color: #f0f0f0;
    font-size: 46px;
    margin-top: 140px;
    margin-bottom: 60px;
    position: relative;
    font-family: 'Asap', normal;
    font-weight: bold;
  }
  h3:before {
    content: '';
    border-bottom: #c1c1c1 solid 5px;
    width: 65px;
    display: block;
    position: absolute;
    bottom: 70px;
    left: 47%;
  }
  .form-control{
    border: none;
    border-radius: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    color: #303030;
    font-size: 16px;
  }
  input{
    height: 60px;
  }
  textarea{
    height: 210px!important;
    resize: none;
    padding: 0;
  }
  .btn.btn-default{
    width: 100%;
    background-color: white;
    background-image: none;
    border: none;
    border-radius: 0;
    color: #4d4d4d;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 45px;
    font-family: 'Asap', normal;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 100px;

    &:hover{
      box-shadow: #9b9b9b 0 0 10px;
      border: none;
    }
    &:after{
      content: url(../images/send_53.png);
      margin-left: 8px;
    }
  }

}

